* {
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #548687;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


.body2{
    height: 90vmin;
    width: 70vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.body0{
    height: 90vmin;
    width: 70vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.8);
    font-size: 8vmin;
    color: #010101;
    background-color: #ffffc7;
}
#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #ffffff;
    border-radius: 1rem;
}
.seeresult{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #ffffff;
    border-radius: 1rem;
}
#home-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #ffffff;
    border-radius: 1rem;
}
#home2-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #ffffff;
    border-radius: 1rem;
}

.start-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #ffffff;
    border-radius: 1rem;
}
#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #ffffff;
    border-radius: 1rem;
}
.gameset{
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.winner{
    display: flex;
    justify-content: center;
    height: 5vmin;
    align-items: end;
    font-size: 3rem;
}
.hidden{
    display: none;
}

.image1{
    border-radius: 1rem;
    height: 40vmin;
    width: 60vrem;
}